nav{
    display: flex;
    position: fixed;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    z-index: 30;
    background-image: linear-gradient(black, transparent);
}

/*Desktop links styles*/

.nav-links{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
    margin-left: auto;
}

.nav-link{
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display';
    color: rgb(230, 230, 230);
    transition: all .5s ease;
    -webkit-tap-highlight-color: transparent;
}

.active{
    color: white;
}

.nav-link::after{
    content: '';
    background-color: white;
    width: 0%;
    height: 1px;
    transition: all .5s ease-in-out;
}

.nav-link:hover::after{
    width: 100%;
}

/*Login Button*/

.nav-auth{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.nav-btn{
    font-family: 'Playfair Display';
    border-radius: .5rem;
    
}

.nav-logo{
    font-family: 'Clicker Script', cursive;
    font-size: 2.1rem;
    color: white;
}

/*General style for buttons*/

.hamBtn{
    background-color: transparent;
    border: none;
}



nav a{
    text-decoration: none;
}

/*Mobile Styles*/

@media screen and (max-width:1024px){

    nav{
        gap: 1rem;
        height: 4rem;
        top: 0;
        right: 0;
        padding: 1rem 1.5rem;
        flex-direction: row;
        background-image: none;
        background-color:#bfa07c;
    }

    .nav-links{

        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        justify-content: flex-start;
        top: 4rem;
        right: 0;
        height: 100vh;
        width: 100vw;
        z-index: 30;
        background-color:#bfa07c;
        transition: transform 1s ease;
        transform: translateX(-100vw);
    }

    .nav-links::before{

        background-image: none !important;

    }

    .nav-link{
        display: flex;
        flex-direction: row;
        width: 100%;
        letter-spacing: unset;
        font-size: 1.3rem !important;
        align-items: center;
        justify-content: space-between;
    }

    .nav-link:hover::after{
        width: unset;
    }

    .nav-btn{
        width: 100%;
    }

    .nav-auth{
        margin-left: auto;
    }

    .nav-link{
        font-size: 2rem;
    }
    
    .activeMenu{
        transform: none;
    }

    /*Animations and structure of the Ham-Close button*/
    
    .hamBtn{
        display: flex;
        align-items: center;
        height: 1.5rem;
        width: 2rem;
        position: relative;
    }

    .first-span{
        width: 100%;
        top: 0;
        right: 0;
    }

    .second-span{
        position: absolute;
        width: 70%;
        height: .05rem;
        right: 0;
        background-color: rgb(255, 255, 255);
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
      
    }

    .third-span{
        width: 100%;
        bottom: 0;
        right: 0;
        
    }

    .first-span, .third-span{
        content: '';
        position: absolute;
        height: .05rem;
        background-color: rgb(255, 255, 255);
        transition: all .5s ease-in;
    }



    .hamBtn.off .first-span{
        transform-origin: left top;
        transform: rotate(45deg);
    }

    .hamBtn.off .second-span{
        opacity: 0%;
        transform: translateX(2rem);
    }

    .hamBtn.off .third-span{
        transform-origin: left bottom;
        transform: rotate(-45deg);
    }

}